<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand" ><%= link_to "RailsWikinimous", articles_path %></h1>
    </div>
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Create new article", new_article_path %>
    </div>
  </div>
</nav>
