<%= render "layout" do %>
  <% @articles.each do |article| %>
    <article>
      <h2> <%= link_to article.title, article_path(article.id) %> </h2>
      <%= article.content %>
    </article>
  <% end %>
<% end %>
